<div class="brew-container">
  <div class="brew-page-header">
    <LinkTo @route="index" class="brew-header-link">
      <h1 class="brew-app-title">Breweries in Austin</h1>
    </LinkTo>
  </div>

<div class="brew-main-content">
    <nav class="brew-navbar" role="navigation">
      <ul class="brew-nav">
        <li class="brew-navbar-item">
          <LinkTo @route="breweries">
            Breweries
          </LinkTo>
        </li>
        <li class="brew-navbar-item">
          <LinkTo @route="beers">
            Beers
          </LinkTo>
        </li>
      </ul>
    </nav>
  {{outlet}}
  </div>
</div>