<ul class="list pl3">
  {{#each this.model as |beer|}}
    <li>
      Beer Name: 
      {{beer.name}}
      <br/>
      Type:
      <em>{{beer.type}}</em>
      <br/>
      Alcohol Percentage:
      <span >{{beer.alcoholPercentage}} %</span>
    </li>
  {{/each}}
</ul>

<div class="brew-main-panel">
{{outlet}}
</div>